#positions .position h3 {
	text-align: center;
}
#positions .position #candidates {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
	grid-gap: 10px;
}
#candidates .candidate {
	padding: 10px;
	width: 200px;
	border: 2px solid black;
	display: grid;
	align-items: center;
	justify-items: center;
	grid-auto-flow: column;
	grid-template-rows: 1fr 40px;
}
.candidate img {
	width: 166px;
	border: 5px solid black;
	border-radius: 10%;
}
